In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("floripa_weather_data.csv", sep=";", decimal=",")
df.head()

         data  temperatura
0  2020/01/01         26.3
1  2020/01/01         26.5
2  2020/01/01         26.2
3  2020/01/01         26.2
4  2020/01/01         25.4

In [3]:
df2 = pd.DataFrame(df.groupby('data', as_index=False)["temperatura"].mean())
df2.head()

         data  temperatura
0  2020/01/01    26.854167
1  2020/01/02    24.920833
2  2020/01/03    23.816667
3  2020/01/04    24.462500
4  2020/01/05    24.295833

In [4]:
df2.tail()

           data  temperatura
361  2020/12/27    22.520833
362  2020/12/28    23.437500
363  2020/12/29    24.537500
364  2020/12/30    26.241667
365  2020/12/31    26.895833

In [5]:
df2.shape

(366, 2)

In [6]:
df2.to_csv("2020_floripa_temperature_by_day.csv", index=False)