In [1]:
import pandas as pd

In [2]:
years = ["2004", "2005", "2006", "2007",
        "2008", "2009", "2010", "2011", "2012",
        "2013", "2014", "2015", "2016", "2017",
        "2018", "2019", "2020"]

In [3]:
file_names = [f"INMET_S_SC_A806_FLORIANOPOLIS_01-01-{year}_A_31-12-{year}.CSV" 
              for year in years]
file_names[:3]

['INMET_S_SC_A806_FLORIANOPOLIS_01-01-2004_A_31-12-2004.CSV',
 'INMET_S_SC_A806_FLORIANOPOLIS_01-01-2005_A_31-12-2005.CSV',
 'INMET_S_SC_A806_FLORIANOPOLIS_01-01-2006_A_31-12-2006.CSV']

In [45]:
dfs = [pd.read_csv("public/data/"+file, 
                   sep=";", 
                   decimal=",", 
                   skiprows=list(range(8)), # as primeiras 8 linhas são cabeçalho
                   encoding='latin-1') 
       for file in file_names]

In [46]:
dfs[-1].head(2)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2020/01/01,0000 UTC,0.0,1008.5,1008.7,1007.7,NaN,26.3,21.6,26.6,26.3,21.9,21.3,77.0,73.0,75.0,351.0,6.1,3.1,NaN
1,2020/01/01,0100 UTC,0.0,1009.3,1009.5,1008.5,NaN,26.5,21.5,26.5,26.3,21.8,21.5,76.0,74.0,74.0,353.0,6.1,2.0,NaN

Será que todos dfs tem a mesma quantidade de colunas?

Graças a deus sim.

In [47]:
for df, year in zip(dfs, years):
    print(f'O df de {year} tem {df.shape[1]} colunas.')

O df de 2004 tem 20 colunas.
O df de 2005 tem 20 colunas.
O df de 2006 tem 20 colunas.
O df de 2007 tem 20 colunas.
O df de 2008 tem 20 colunas.
O df de 2009 tem 20 colunas.
O df de 2010 tem 20 colunas.
O df de 2011 tem 20 colunas.
O df de 2012 tem 20 colunas.
O df de 2013 tem 20 colunas.
O df de 2014 tem 20 colunas.
O df de 2015 tem 20 colunas.
O df de 2016 tem 20 colunas.
O df de 2017 tem 20 colunas.
O df de 2018 tem 20 colunas.
O df de 2019 tem 20 colunas.
O df de 2020 tem 20 colunas.

Será que todas as colunas possuem o mesmo nome?

Veja que o nome da coluna que informa a data do df de 2004 é diferente
do df de 2020.

In [48]:
set(dfs[0].columns).difference(set(dfs[-1].columns))

{'DATA (YYYY-MM-DD)', 'HORA (UTC)', 'RADIACAO GLOBAL (KJ/m²)'}

Vamos deixar todas as colunas com os mesmos nomes do df de 2020

In [49]:
cols_2020 = list(dfs[-1].columns)
for i, _ in enumerate(dfs):
    dfs[i].columns = cols_2020;

Conferindo se eliminamos as diferenças:

In [50]:
set(dfs[0].columns).difference(set(dfs[-1].columns))

set()

Bora dar uma olhada nos nomes das colunas para identificar as que queremos:

In [51]:
cols_2020

['Data',
 'Hora UTC',
 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
 'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
 'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
 'RADIACAO GLOBAL (Kj/m²)',
 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
 'TEMPERATURA DO PONTO DE ORVALHO (°C)',
 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
 'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
 'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
 'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
 'UMIDADE RELATIVA DO AR, HORARIA (%)',
 'VENTO, DIREÇÃO HORARIA (gr) (° (gr))',
 'VENTO, RAJADA MAXIMA (m/s)',
 'VENTO, VELOCIDADE HORARIA (m/s)',
 'Unnamed: 19']

As colunas que nos interassam são:

In [121]:
cols = ["Data", 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']

Vamos remover as outras colunas que não nos interessam:

In [122]:
for i, df in enumerate(dfs):
    for col in df.columns:
        if col not in cols:
            dfs[i].drop(col,
                        axis='columns', 
                        inplace=True)

Vamos concatenar todos os dfs:

In [123]:
df1 = pd.concat(dfs, ignore_index=True)
df1.shape

(149040, 2)

In [124]:
df1.head()

         Data  TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)
0  2004-01-01                                          22.1
1  2004-01-01                                          21.4
2  2004-01-01                                          21.2
3  2004-01-01                                          20.6
4  2004-01-01                                          20.1

Vamos renomear as colunas:

In [125]:
df1.columns = ["date", "temperature"]

In [126]:
df1.head()

         date  temperature
0  2004-01-01         22.1
1  2004-01-01         21.4
2  2004-01-01         21.2
3  2004-01-01         20.6
4  2004-01-01         20.1

Parece que -9999.0 é usado para representar dados faltantes.

In [127]:
df1[df1["temperature"] == -9999.0].head()

            date  temperature
263   2004-01-11      -9999.0
552   2004-01-24      -9999.0
648   2004-01-28      -9999.0
1055  2004-02-13      -9999.0
1136  2004-02-17      -9999.0

Vamos tratar os dados faltantes da seguinte forma:

* se houver pelo menos duas medições de temperatura para o dia em questão, iremos associar a temperatura média destas medições aos valores faltantes do dia em questão.

* caso a condição anterior não seja satisfeita, substituiremos pela média da temperatura para o mesmo dia só que de todos os outros anos.

In [133]:
def measures_for_same_day(df, col, day):
    return df[(df[col] != -9999.0) & (df.date==day)][col].tolist()

def measures_for_same_day_other_yrs(df, col, day):
    corrent_year, month, day = day.split("-")
    dates = [f"{y}/{month}/{day}" for y in years if y!=corrent_year]
    return df[(df.date.isin(dates)) & (df[col] != -9999.0)][col].tolist()

def value_for_col(df, col, day):
    res = measures_for_same_day(df, 
                            col,
                            day)
    if not res:
        res = measures_for_same_day_other_yrs(df, 
                    col,
                    day)
        
    return sum(res)/len(res)

In [134]:
def fill_missing_values(df):
    updated_days = {}
    cols = df.columns[1:]
    new_df = df.copy()
    for index, row in new_df.iterrows():
        for col in cols:
            if (row["date"] in updated_days.keys() and
            col in updated_days[row["date"]].keys()):
                new_df.at[index, col] = updated_days[row["date"]][col]
            elif row[col] == -9999.0:
                day_mean = value_for_col(new_df, col, row["date"])
                new_df.at[index, col] = day_mean 
                register = updated_days.get(row["date"])
                if register:
                    register[col] = day_mean
                else:
                    register = {col: day_mean}
                    
                updated_days[row["date"]] = register
    return new_df

In [135]:
df2 = fill_missing_values(df1)

Conferindo se deu certo:

In [136]:
df2[(df2["temperature"] == -9999.0)].head()

Empty DataFrame
Columns: [date, temperature]
Index: []

Uma das linhas que tinha dados faltantes era a 263, vamos ver como ficou:

In [137]:
df2.iloc[263]

date           2004-01-11
temperature       24.9043
Name: 263, dtype: object

Conferindo se não perdemos nenhuma linha:

In [143]:
df1.shape == df2.shape

True

Como temos temperaturas por horário do dia, vamos associar ao dia sua temperatura média,  máxima e mínima.

In [138]:
df3 = (df2.groupby('date', as_index=False)
       .agg(temperatura_media=('temperature', 'mean'), 
            temperatura_max=('temperature', 'max'),
            temperatura_min=('temperature', 'min')))
df3.head()

         date  temperatura_media  temperatura_max  temperatura_min
0  2004-01-01          21.537500             24.1             18.4
1  2004-01-02          21.662500             25.6             16.7
2  2004-01-03          22.795833             26.5             18.6
3  2004-01-04          23.275000             26.6             18.5
4  2004-01-05          23.733333             27.2             20.3

In [139]:
df3.shape

(6210, 4)

In [145]:
df3.to_csv("public/data/floripa_temperatures_by_day_2004_a_2020.csv", index=False)